@import "../Utilities/mixins";

.overlay {
  position: fixed;
  z-index: 98;
  width: 100%;
  background: hsla(0, 0%, 31%, 0.4);
  top: 0;
  left: 0;
  min-height: 0;
  display: none;
  transition: all .3s ease-in;
  
  &.active {
    min-height: 100vh;
    display: block;
  }
}

.filter {
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 3rem;
  margin: 0 auto;
  z-index: 99;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: all .3s ease-in;

  &__heading {
    display: none;
  }

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  &__nav {
    grid-column: span 2;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    position: relative;

    &__location,
    &__guests {
      padding: 0.5rem 0;
      padding-left: 1.625rem;
      border: 1px solid #ffffff;
      cursor: pointer;
      border-radius: 1rem;
      transition: all .3s ease-in-out;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        background-color: #f2f2f2;
        height: 100%;
        bottom: 0;
        right: -5px;
      }

      &:hover {
        border-color: #F2F2F2;
      }
      &.active {
        border-color: #333333;
      }

      &__label {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 0.5625rem;
        line-height: 11.3px;
      }

      &__placeholder {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 17.57px;
        color: #bdbdbd;

        &.active {
          color: #333333;
        }
      }
    }

    &__search {
      @include searchButton();
    }
  }

  &__location,
  &__guests {
    padding-left: 1.625rem;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .3s ease-in;

    &.active {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  &__location {
    &__list {
      cursor: pointer;
      @include flex(row, flex-start, center);
      gap: 0.625rem;
      font-size: 0.875rem;
      line-height: 18px;
      margin-bottom: 2.25rem;
    }
  }

  .age {
    font-weight: 700;
    font-size: 0.875rem;
    color: #333333;
    line-height: 18px;
  }

  .desc {
    color: #bdbdbd;
    font-size: 0.875rem;
    line-height: 17.57px;
  }

  .count {
    font-weight: 700;
    color: #333333;
    font-size: 0.875rem;
  }

  &__guests {
    @include flex(column, flex-start, flex-start);
    gap: 3.25rem;

    &__adults,
    &__children {
      &__counts {
        @include flex(row, flex-start, center);
        gap: 1rem;
        padding-top: 0.9375rem;
      }
    }
  }

  .increment,
  .decrement {
    @include button(#ffffff, inline-flex);
    border: 1px solid #828282;
    border-radius: 4px;
    color: #828282;
    padding: 0 7px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #828282;
      color: #ffffff;
    }
  }
}

